
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    .text-justify {
        font-size: 20px;
    }
</style>
<h1 style="text-align:center">Hakkımızda</h1>
<p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu lacus, scelerisque non nibh sed, auctor pharetra arcu. Aliquam quis commodo tortor. Mauris tincidunt lectus quis massa luctus pellentesque. Suspendisse volutpat eget lorem a tempus. Phasellus facilisis vel tellus vel pharetra. Maecenas dui orci, suscipit a turpis mollis, mattis laoreet mauris. Nunc malesuada pretium velit aliquet gravida. Quisque lorem quam, pretium sodales odio sit amet, ornare elementum erat. Ut pharetra dictum urna, nec rhoncus nibh auctor id. Praesent fringilla ultricies nisi id placerat.
</p>
<p class="text-justify">
    Mauris ac tortor eu mauris condimentum commodo vel ut odio. Donec iaculis a lectus non ornare. Aenean ex augue, pharetra eu efficitur a, ornare nec leo. Donec pulvinar in nunc ut fringilla. Aliquam at commodo ex. Phasellus sed lectus ex. Aenean mollis orci semper ornare pellentesque. Phasellus sit amet nibh quis nibh tincidunt porta nec eget libero. Quisque malesuada egestas tortor sit amet tempus. Nulla iaculis nisi sit amet gravida iaculis. Praesent vitae arcu nulla. Praesent non luctus dolor. Maecenas quis imperdiet risus, in condimentum odio.
</p>
<p class="text-justify">
    Integer euismod lobortis ultrices. Proin in ipsum at tortor fermentum eleifend sit amet ac velit. Sed pretium purus non enim malesuada, vel eleifend velit placerat. Nunc id tortor neque. Donec velit felis, efficitur eu viverra eu, ultricies eu odio. Curabitur eros leo, rutrum quis molestie at, auctor sed mi. Praesent ornare, ligula a laoreet venenatis, leo enim auctor felis, vitae laoreet lectus ante quis orci.
</p>
<p class="text-justify">
    Integer euismod lobortis ultrices. Proin in ipsum at tortor fermentum eleifend sit amet ac velit. Sed pretium purus non enim malesuada, vel eleifend velit placerat. Nunc id tortor neque. Donec velit felis, efficitur eu viverra eu, ultricies eu odio. Curabitur eros leo, rutrum quis molestie at, auctor sed mi. Praesent ornare, ligula a laoreet venenatis, leo enim auctor felis, vitae laoreet lectus ante quis orci.
</p>

