<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifremi Unuttum</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        .panel-body {
            background-color: paleturquoise;
        }

        .panel {
            margin-top: 100px;
        }

        .body {
            background-image: url(https://thumbs.dreamstime.com/z/elegant-blue-background-design-fancy-seal-flower-shapes-abstract-random-pattern-elements-layers-round-vintage-paper-48199288.jpg);
            background-size: cover;
        }
    </style>
</head>
<body class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Şifrenizi mi Unuttunuz?</h2>
                            <p>Şifrenizi buradan alabilirsiniz</p>
                            <div class="panel-body">

                                <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="forgetEmail" placeholder="Mail Adresi" class="form-control" type="email">
                                        </div>
                                        <div id="Message" style="display:none" class="text-center alert alert-success ">@TempData["Message"]</div>
                                        <div id="error-message" style="display:none" class="text-center alert alert-danger">@TempData["ErrorMessage"]</div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">Gönder</button>
                                        <a href="/Student/Login" class="btn btn-lg btn-success btn-block">Giriş Yap</a>
                                    </div>
                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script>
        if ($("#error-message").html() != "") {
            $("#error-message").slideDown();
            setTimeout(function () {
                $("#error-message").slideUp();
            }, 5000)
        }
        if ($("#Message").html() != "") {
            $("#Message").slideDown();
            setTimeout(function () {
                $("#Message").slideUp();
            }, 5000)
        }
    </script>
</body>
</html>
