@using Entities
@model List<Lesson>
@{
    ViewBag.Title = "LessonInformation";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    .colon {
        background-color: cornflowerblue;
    }
    .colonDers {
        background-color: chartreuse;
    }
    .colonCredit{
        background-color:yellow;
    }
</style>
<h1 style="text-align:center">Ders Listesi</h1>
<table class="table table-bordered">
    <colgroup>
        <col style="width:50%" />
        <col style="width:40%" />
        <col style="width:10%" />

    </colgroup>
    <thead>
        <tr>
            <th class="colon">Dersin Adı</th>
            <th class="colon">Dersin Öğretmeni</th>
            <th class="colon">Kredisi</th>
        </tr>
    </thead>
    <tbody>
        @{
            Lesson lesson;
            for (int i = 0; i < Model.Count; i++)
            {
                lesson = Model[i];
                <tr>
                    <td>@lesson.Name</td>
                    <th>@lesson.Teacher.FullName</th>
                    <th>@lesson.Credit</th>
                </tr>
            }
        }
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="colonDers">Toplam Kredi</th>
            <th class="colonCredit">@ViewBag.LessonCredit</th>
        </tr>
    </thead>
</table>


